<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="jquery-1.3.2.min.js"></script>
    <script src="jquery.kxbdmarquee.js"></script>
    <link href="app.css" rel="stylesheet" />
</head>
<body>
    <!--<div id="element_id">
        <ul>
            <li>
                <div class="roulette-roll" id="roulette-roll" style="background-position-x: 0;"></div>
                <div class="roulette-roll" id="roulette-roll" style="background-position-x: 0;"></div>
                <div class="roulette-roll" id="roulette-roll" style="background-position-x: 0;"></div>
            </li>
        </ul>
    </div>-->
    <div id="marquee4">
        <ul>
            <li>
                <div style="background-position-x: 0;background: url(bg-roulette-roll.jpg) center no-repeat;width:1000px;"></div>
            </li>
            <li>
                cc

            </li>
        </ul>
    </div>
    <div class="roulette-mask">
    </div>
    <div class="roulette-result-wrapper">
        <div class="roulette-result">
            <span class="badage-hero" style="display: none;"></span>
        </div>
        <div id="hero-info" class="hero-info nightmare">
        </div>
    </div>
    <style>
        #marquee4 {
            overflow: hidden;
        }

            #marquee4 ul li {
                float: left;
            }
    </style>
    <script>
        $('#marquee4').kxbdMarquee();
    </script>
</body>
</html>
