.kebab-spinner-double-bounce {
    position: relative;
}

.kebab-spinner-double-bounce-bounce1, .kebab-spinner-double-bounce-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: kebab-spinner-double-bounce 2s infinite ease-in-out;
    animation: kebab-spinner-double-bounce 2s infinite ease-in-out;
}

.kebab-spinner-double-bounce-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

@-webkit-keyframes kebab-spinner-double-bounce {
    0%,to {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes kebab-spinner-double-bounce {
    0%,to {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.kebab-spinner-fading-circle {
    position: relative;
}

.kebab-spinner-fading-circle-circle {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

    .kebab-spinner-fading-circle-circle:before {
        content: " ";
        display: block;
        margin: 0 auto;
        width: 15%;
        height: 15%;
        border-radius: 100%;
        -webkit-animation: kebab-fading-circle 1.2s infinite ease-in-out both;
        animation: kebab-fading-circle 1.2s infinite ease-in-out both;
    }

    .kebab-spinner-fading-circle-circle.is-circle2 {
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
    }

        .kebab-spinner-fading-circle-circle.is-circle2:before {
            -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s;
        }

    .kebab-spinner-fading-circle-circle.is-circle3 {
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg);
    }

        .kebab-spinner-fading-circle-circle.is-circle3:before {
            -webkit-animation-delay: -1s;
            animation-delay: -1s;
        }

    .kebab-spinner-fading-circle-circle.is-circle4 {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

        .kebab-spinner-fading-circle-circle.is-circle4:before {
            -webkit-animation-delay: -.9s;
            animation-delay: -.9s;
        }

    .kebab-spinner-fading-circle-circle.is-circle5 {
        -webkit-transform: rotate(120deg);
        transform: rotate(120deg);
    }

        .kebab-spinner-fading-circle-circle.is-circle5:before {
            -webkit-animation-delay: -.8s;
            animation-delay: -.8s;
        }

    .kebab-spinner-fading-circle-circle.is-circle6 {
        -webkit-transform: rotate(150deg);
        transform: rotate(150deg);
    }

        .kebab-spinner-fading-circle-circle.is-circle6:before {
            -webkit-animation-delay: -.7s;
            animation-delay: -.7s;
        }

    .kebab-spinner-fading-circle-circle.is-circle7 {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

        .kebab-spinner-fading-circle-circle.is-circle7:before {
            -webkit-animation-delay: -.6s;
            animation-delay: -.6s;
        }

    .kebab-spinner-fading-circle-circle.is-circle8 {
        -webkit-transform: rotate(210deg);
        transform: rotate(210deg);
    }

        .kebab-spinner-fading-circle-circle.is-circle8:before {
            -webkit-animation-delay: -.5s;
            animation-delay: -.5s;
        }

    .kebab-spinner-fading-circle-circle.is-circle9 {
        -webkit-transform: rotate(240deg);
        transform: rotate(240deg);
    }

        .kebab-spinner-fading-circle-circle.is-circle9:before {
            -webkit-animation-delay: -.4s;
            animation-delay: -.4s;
        }

    .kebab-spinner-fading-circle-circle.is-circle10 {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }

        .kebab-spinner-fading-circle-circle.is-circle10:before {
            -webkit-animation-delay: -.3s;
            animation-delay: -.3s;
        }

    .kebab-spinner-fading-circle-circle.is-circle11 {
        -webkit-transform: rotate(300deg);
        transform: rotate(300deg);
    }

        .kebab-spinner-fading-circle-circle.is-circle11:before {
            -webkit-animation-delay: -.2s;
            animation-delay: -.2s;
        }

    .kebab-spinner-fading-circle-circle.is-circle12 {
        -webkit-transform: rotate(330deg);
        transform: rotate(330deg);
    }

        .kebab-spinner-fading-circle-circle.is-circle12:before {
            -webkit-animation-delay: -.1s;
            animation-delay: -.1s;
        }

@-webkit-keyframes kebab-fading-circle {
    0%,39%,to {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}

@keyframes kebab-fading-circle {
    0%,39%,to {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}

.kebab-spinner-snake {
    -webkit-animation: kebab-spinner-rotate .8s infinite linear;
    animation: kebab-spinner-rotate .8s infinite linear;
    border: 4px solid transparent;
    border-radius: 50%;
}

@-webkit-keyframes kebab-spinner-rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

@keyframes kebab-spinner-rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

.kebab-spinner-triple-bounce-bounce1, .kebab-spinner-triple-bounce-bounce2, .kebab-spinner-triple-bounce-bounce3 {
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: kebab-spinner-triple-bounce 1.4s infinite ease-in-out both;
    animation: kebab-spinner-triple-bounce 1.4s infinite ease-in-out both;
}

.kebab-spinner-triple-bounce-bounce1 {
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s;
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s;
}

@-webkit-keyframes kebab-spinner-triple-bounce {
    0%,80%,to {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes kebab-spinner-triple-bounce {
    0%,80%,to {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.mint-indicator-wrapper {
    top: 50%;
    left: 50%;
    position: fixed;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 5px;
    background: rgba(0,0,0,.7);
    color: #fff;
    box-sizing: border-box;
    text-align: center;
}

.mint-indicator-text {
    display: block;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}

.mint-indicator-spin {
    display: inline-block;
    text-align: center;
}

/*.mint-indicator-mask {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: transparent;
}*/

.mint-indicator-transition {
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

.mint-indicator-enter, .mint-indicator-leave {
    opacity: 0;
}
