<?xml version="1.0" encoding="utf-8"?>
<appSettings>

	<add key="Environment" value="qa" />
	<add key="UserInfoCallbackDomain" value="qa.domain" />

	<!-- URL对接信息 -->
	<add key="WeixinToken" value="weixin" />
	<add key="WeixinEncodingAESKey" value="fsfsafsfdsafsafdsafsafsafsa" />
	<!-- 高级接口信息 -->
	<add key="WeixinAppId" value="fsfsafsfdsafsafdsafsafsafsa" />
	<add key="WeixinAppSecret" value="fsfsafsfdsafsafdsafsafsafsa" />
	<!-- SDK提供的代理功能设置 -->
	<add key="WeixinAgentUrl" value="外部代理Url" />
	<add key="WeixinAgentToken" value="外部代理Token" />
	<add key="WeixinAgentWeiweihiKey" value="外部代理WeiWeiHiKey" />
	<!-- 微信支付相关参数 -->
	<!-- 微信支付V2 -->
	<add key="WeixinPay_Tenpay" value="WeixinPay_Tenpay" />
	<add key="WeixinPay_PartnerId" value="WeixinPay_PartnerId" />
	<add key="WeixinPay_Key" value="WeixinPay_Key" />
	<add key="WeixinPay_AppId" value="fsfsafsfdsafsafdsafsafsafsa" />
	<add key="WeixinPay_AppKey" value="WeixinPay_AppKey" />
	<add key="WeixinPay_TenpayNotify" value="WeixinPay_TenpayNotify" />
	<!-- 微信支付V3 -->

	<add key="TenPayV3_MchId" value="133290344343" />
	<add key="TenPayV3_Key" value="fdsafdsafsfsax" />
	<add key="TenPayV3_AppId" value="fsfsafsfdsafsafdsafsafsafsa" />
	<add key="TenPayV3_AppSecret" value="fsfsafsfdsafsafdsafsafsafsa" />
	<add key="TenPayV3_TenpayNotify" value="http://qa.domain/coin/PayNotifyUrl" />

	<!-- 开放平台 -->
	<add key="Component_Appid" value="fsfsafsfdsafsafdsafsafsafsa" />
	<add key="Component_Secret" value="fsfsafsfdsafsafdsafsafsafsa" />
	<add key="Component_Token" value="weixin" />
	<add key="Component_EncodingAESKey" value="fsfsafsfdsafsafdsafsafsafsa" />
	<!-- Cache.Redis连接配置 -->
	<add key="Cache_Redis_Configuration" value="Redis配置" />
</appSettings>
